name: E2E Testing

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read

jobs:
  e2e:
    name: "Run E2E tests (use wordpress:${{ matrix.wordpress }} image)"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        wordpress:
          - php7.4
          - php8.0
          - php8.1
          - php8.2
          - beta-php7.4
          - beta-php8.0
          - beta-php8.1
          - beta-php8.2
    steps:
      - name: Checkout source code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Set up Node.js environment
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Set up PHP
        uses: shivammathur/setup-php@73963f5001e335723c998e4a0125ce060083985c # 2.30.1

      - name: Install Composer Dependencies
        uses: ramsey/composer-install@57532f8be5bda426838819c5ee9afb8af389d51a # 3.0.0

      - name: Install Playwright
        run: npx playwright install chromium

      - name: Run Playwright E2E tests
        run: npm run test:e2e
        env:
          WP_VERSION: ${{ matrix.wordpress }}

      - name: Upload test results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        if: failure()
        with:
          name: playwright-test-results-${{ matrix.wordpress }}
          path: test-results/
          retention-days: 3

  e2e-bundle:
    name: Run E2E tests on the generated plugin
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Generate self-contained package
        run: |
          git archive --format=tar --prefix=two-factor-provider-webauthn/ HEAD | (cd /var/tmp/ && tar xf -)
          (cd /var/tmp/two-factor-provider-webauthn && composer install --no-dev --no-interaction && composer remove --update-no-dev --no-interaction composer/installers cweagans/composer-patches && rm -rf composer.lock composer.json patches vendor/madwizard/webauthn/.github vendor/madwizard/webauthn/conformance vendor/madwizard/webauthn/tests vendor/psr/log/Psr/Log/Test vendor/psr/http-message/docs vendor/typisttech)

      - name: Patch docker-compose.yml
        run: |
          sed -i 's!- .:!- /var/tmp/two-factor-provider-webauthn:!' docker-compose.yml

      - name: Set up Node.js environment
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright
        run: npx playwright install chromium

      - name: Run Playwright E2E tests
        run: npm run test:e2e
        env:
          WP_VERSION: php8.1

      - name: Upload test results
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4.3.1
        if: failure()
        with:
          name: playwright-test-results-bundle
          path: test-results/
          retention-days: 3
