name: Release

on:
  push:
    tags:
      - "**"

permissions:
  contents: none

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      attestations: write
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Generate self-contained package
        run: |
          git archive --format=tar --prefix=two-factor-provider-webauthn/ HEAD | (cd /var/tmp/ && tar xf -)
          (cd /var/tmp/two-factor-provider-webauthn && composer install --no-dev --no-interaction && composer remove --update-no-dev --no-interaction composer/installers cweagans/composer-patches && rm -rf composer.lock composer.json patches vendor/madwizard/webauthn/.github vendor/madwizard/webauthn/conformance vendor/madwizard/webauthn/tests vendor/psr/http-message/docs vendor/psr/log/Psr/Log/Test vendor/typisttech) && \
          (cd /var/tmp && zip -r -9 two-factor-provider-webauthn.zip two-factor-provider-webauthn)

      - name: Attest build provenance
        uses: actions/attest-build-provenance@210c1913531870065f03ce1f9440dd87bc0938cd # v1.4.0
        id: attest
        with:
          subject-path: /var/tmp/two-factor-provider-webauthn.zip

      - name: Generate provenance file
        run: |
          jq .dsseEnvelope "${{ steps.attest.outputs.bundle-path }}" > /var/tmp/two-factor-provider-webauthn.intoto.jsonl

      - name: Release
        uses: softprops/action-gh-release@a74c6b72af54cfa997e81df42d94703d6313a2d0 # v2.0.6
        with:
          generate_release_notes: true
          files: |
            /var/tmp/two-factor-provider-webauthn.zip
            /var/tmp/two-factor-provider-webauthn.intoto.jsonl

  deploy:
    name: Deploy to wordpress.org
    runs-on: ubuntu-latest
    permissions:
      contents: read
    environment: deploy
    steps:
      - name: Check out
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - name: Install dependencies to bundle
        run: |
          composer install --no-dev --no-interaction
          composer remove --update-no-dev --no-interaction composer/installers cweagans/composer-patches
          rm -rf composer.lock composer.json patches vendor/madwizard/webauthn/{.github,conformance,tests} vendor/psr/log/Psr/Log/Test vendor/psr/http-message/docs vendor/typisttech

      - name: Deploy to wordpress.org
        uses: 10up/action-wordpress-plugin-deploy@abb939a0d0bfd01063e8d1933833209201557381 # 2.2.2
        env:
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SLUG: two-factor-provider-webauthn
