name: Static Code Analysis

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: none

jobs:
  psalm:
    name: Analyze the code with Psalm
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          disable-file-monitoring: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            azure.archive.ubuntu.com:80
            cdn.fwupd.org:443
            cdn.jsdelivr.net:443
            dl.cloudsmith.io:443
            getcomposer.org:443
            github.com:443
            objects.githubusercontent.com:443
            packagist.org:443
            release-assets.githubusercontent.com:443
            repo.packagist.org:443
            setup-php.com:443

      - name: Check out source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # 2.35.5
        with:
          coverage: none
          php-version: '8.3'

      - name: Install Composer Dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # 3.1.1

      - name: Install Psalm
        run: npm run psalm:install

      - name: Run psalm
        run: composer psalm -- --output-format=github
